* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --stroke: #878787;
  --gray: #ababab;
  --white: white;
  --input-strok: #282828;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding: 20px 0;
}
header a {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  section .container {
    justify-content: center;
  }
  section .form {
    width: 100%;
  }
}
section .form {
  width: 50%;
  padding: 38px;
  border: 0.7px solid var(--stroke);
  border-radius: 8px;
}
section .massage {
  display: block;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 300;
}
section h1 {
  font-size: 30px;
  font-weight: 500;
}
section .title {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
}

section form label {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 400;
}
section form {
  width: 100%;
}
section form input {
   width: 100%;
  display: block;
  padding: 18px;
  margin-bottom: 40px;
  border: none;
   border-radius: 6px;
  outline: none;
  border: 0.6px solid var(--input-strok);
}
section form input::placeholder {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray);
}
section form .option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
section form .option label {
  display: inline;
}
section form .option input {
    margin: 5px;
  display: inline;
  width: fit-content;
}
section form .option a {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray);
}
section .accout {
  color: var(--gray);
}
section .accout a {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
}
section form .submit-btn {
  font-size: 16px;
  font-weight: 500;
   color: var(--white);
  background-color: var(--black);
}
section .image {
  width: 50%;
}
@media (max-width: 991px) {
  section .image {
    display: none;
  }
}